{% extends "layouts/base.html" %}
{% load static %}

{% block content %}


    <main>
        <div
                class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
            <div class="w-full mb-1">
                <div class="mb-4">
                    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">All bookings</h1>
                </div>
                <div class=" justify-end block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">


                    <button id="createBookingButton"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-primary-800"
                            type="button"
                    >
                        <a href="{% url 'new-bookings' %}">
                            Add new booking
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="inline-block w-full align-middle">
                    <div class="overflow-hidden shadow">
                       {% include 'bookings/bookings-list.html' %}
                    </div>
                </div>
            </div>
        </div>



    </main>


{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}